.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 400px;
  border: 1px solid #e3e3e3;
  background: #f4f4f4;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-check {
  margin-top: 0.5rem;
  text-align: left;
}

.btn {
  width: 100%;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .card {
    width: 50%;
  }
}
